.Equals {
    display: inline;
    position: absolute;
    left: 51%;
    bottom: 0;
    width: 177px;
}
.equals {
    width: 90%;
    height: 99px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    border-color: red;
    padding: 0 3px 3px;
}