.Equals {
    display: inline;
    position: absolute;
    right: 1%;
    bottom: 0;
    width: 47%;
}
.equals {
    width: 100%;
    height: 67px;
    font-size: 35px;
    text-align: center;
    background: lightgray;
    color: #000;
    /* border-color: red; */
    padding: 0 0px 2px;
}