.SearchBar{
    width: 99.5%;
    height: 133px;
    font-size: 60px;
    text-align: right;
    background: #625f5f;
    color: #fff;
    border: 2px;
}
.SearchBar::placeholder{
    color: #ffffff;
}