.Clear {
    display: inline;
    position: absolute;
    left:0;
    bottom: 0;
}
.clear{
    width: 52%;
    height: 69px;
    font-size: 35px;
    text-align: center;
    background: lightgray;
    color: #000;
    /* border-color: red; */
    padding: 1px 2px;
}
/* width: 52%;
    height: 67px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;*/