.Clear {
    display: inline;
    position: absolute;
    left: 25.5%;
    bottom: 0;
    width: -webkit-fill-available;
}
.clear{
    width: 50%;
    height: 99px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    border-color: red;
    padding: 0 3px 3px;
}