.ops {
    width: 96%;
    height: 23%;
    font-size: 200%;
    text-align: center;
    background: lightgray;
    color: #000;
    /*border-color: red;*/
}
.Operations {
    /*display: inline-block;*/
    position: absolute;
    right: 4px;
    top: 25%;
    width: 25%;
    height: 60%;
}