.intro {
    width: 420px;
    height:500px;
    border: 2px solid red;
    margin: 50px auto;
    position: relative;
}
.ops-equals{
    width: 100%;
    height: 13.7%;
}
.clear-sign{
    width: 75%;
    height: 15%;
    text-align: center;
    background: #fff;
    color: #000;
}
