.intro {
    width: 420px;
    height:500px;
    border: 2px solid red;
    margin: 50px auto;
    position: relative;
}
.ops-equals{
    position: absolute;
    right: 3px;
    top: 25%;
    width: 25.5%;
    height: 75%;
}
.clear-sign{
    width: 75%;
    height: 15%;
    background: #fff;
    color: #000;
}
