.numbers{
    width: 24%;
    height: 65px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    /*border-color: red;*/
}

.numbers::placeholder{
    color: #000000;}
.numbers0{
    width: 50%;
    height: 65px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    /*border-color: red;*/
    /*padding: 0 2px 2px;*/
    /*position: relative;*/
    /*left: 25.5%;*/
}