.numbers-box{
    width: 75%;
    height: 60%;
}

.numbers::placeholder{
    color: #000000;
}

.numbers{
    width: 30%;
    height: 23%;
    font-size: 200%;
    text-align: center;
    background: #fff;
    color: #000;
}
.numbers0 {
    width: 63%;
    height: 23%;
    font-size: 200%;
    text-align: center;
    background: #fff;
    color: #000;
}