.numbers{
    width: 25%;
    height: 99px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    border-color: red;
}

.numbers::placeholder{
    color: #000000;}
.numbers0{
    width: 24.5%;
    height: 99px;
    font-size: 35px;
    text-align: center;
    background: #fff;
    color: #000;
    border-color: red;
    padding: 0 3px 3px;
    position: relative;
    left: 25.5%;
}